{extends "../Common/defaultRegist.html"}
{block name="main"}
<div class="contt">
    <div class="navstyle">
        <a href="javascript:history.go(-1);" class="navjiantou"><img src="{$smarty.const.IMG_URL}return.png"></a>修改性别
        <img src="{$smarty.const.IMG_URL}headimg.png" class="headimg">
    </div>
    <div class="fenge"></div>    
    <div class="baibg all_padd">
        <div class="input_padd">            
            <span class="input_title">请选择性别&nbsp;&nbsp;&nbsp;</span>
            <input type="radio" name="radiobutton" value="1" {if $smarty.session.user.gender == 1}checked{/if}> 女&nbsp;&nbsp;&nbsp;&nbsp;
                   <input type="radio" name="radiobutton" value="0" {if $smarty.session.user.gender == 0}checked{/if}> 男
        </div>              
    </div>       
    <div class="bottom_line"></div> 
    <div class="submit_button">确认</div>
</div>   
<SCRIPT type="text/javascript">
    $(function () {
        $(".submit_button").click(function () {
            var sex = $('input:radio:checked').val();
            $.ajax({
                type: "POST",
                url: "../myinfo/modymyinfoaction",
                data: {
                    "sex": sex
                },
                success: function (msg) {
                    var data = JSON.parse(msg);
                    if ('1' == data.result) {
                        layer.open({
                            content: '操作成功',                           
                            shadeClose: true,
                            time: 1,
                            end: function () {
                                location.href = "../myinfo/setinfo";
                            }
                        });
                    }
                }
            });
        });
    });
</SCRIPT>
{/block}
