{extends "../Common/defaultRegist.html"}
{block name="main"}

<div class="contt">
    <div class="navstyle">
        <a href="javascript:history.go(-1);" class="navjiantou"><img src="{$smarty.const.IMG_URL}return.png"></a>订单详情
        <img src="{$smarty.const.IMG_URL}headimg.png" class="headimg">
    </div>
    <div class="fenge"></div>
    <div class="baibg mianzexy_padd">
        <div class="orderinfo_xqitem input_title">
            <div class="orderinfo_con"><div class="orderinfo_conin orderinfo_dzfcolor" id="orderstatus"></div></div>
            <div class="orderinfo_xqtitle">订单状态：</div>
        </div>
        <div class="orderinfo_xqitem input_title">
            <div class="orderinfo_con"><div class="orderinfo_conin" id="ordernumber"></div></div>
            <div class="orderinfo_xqtitle">订单编号：</div>
        </div>
        <div class="orderinfo_xqitem input_title">
            <div class="orderinfo_con"><div class="orderinfo_conin" id="operatetime"></div></div>
            <div class="orderinfo_xqtitle">下单时间：</div>
        </div>
        <div class="orderinfo_xqitem input_title">
            <div class="orderinfo_con"><div class="orderinfo_conin" id="paytime">--:--:--</div></div>
            <div class="orderinfo_xqtitle">付款时间：</div>
        </div>
        <div class="orderinfo_xqitem input_title">
            <div class="orderinfo_con"><div class="orderinfo_conin" id="paytype">------</div></div>
            <div class="orderinfo_xqtitle">付款方式：</div>
        </div>
        <div class="orderinfo_xqitem input_title">
            <div class="orderinfo_con"><div class="orderinfo_conin" id="transactionid">------</div></div>
            <div class="orderinfo_xqtitle">付款流水：</div>
        </div>
        <div class="orderinfo_xqitem input_title">
            <div class="orderinfo_con"><div class="orderinfo_conin"><span class="order_status"> ￥<span id="amountmoney"></span></span></div></div>
            <div class="orderinfo_xqtitle">付款金额：</div>
        </div>
		<div class="orderinfo_xqitem input_title">
            <div class="orderinfo_con"><div class="orderinfo_conin" id="priceexplain">------</div></div>
            <div class="orderinfo_xqtitle">定价备注：</div>
        </div>
        <div class="orderinfo_xqitem input_title yinc">
            <div class="orderinfo_con"><div class="orderinfo_conin"><span id="documentexplain">------</span></div></div>
            <div class="orderinfo_xqtitle">所需资料：</div>
        </div>
		<div class="orderinfo_xqitem input_title yinc" style="display:none">
            <div class="orderinfo_con"><div class="orderinfo_conin" id="refundtime">--:--:--</div></div>
            <div class="orderinfo_xqtitle">退款时间：</div>
        </div>
        <div class="orderinfo_xqitem input_title yinc" style="display:none">
            <div class="orderinfo_con"><div class="orderinfo_conin"><span id="refundmoney">------</span></div></div>
            <div class="orderinfo_xqtitle" >退款金额：</div>
        </div>
		<div class="orderinfo_xqitem input_title yinc" style="display:none">
            <div class="orderinfo_con"><div class="orderinfo_conin"><span id="refundremarks">------</span></div></div>
            <div class="orderinfo_xqtitle">退款备注：</div>
        </div>
        <div class="clear"></div>
    </div>   
    <div class="fenge"></div>
    <div class="baibg mianzexy_padd">
        <div class="orderinfo_xqitem input_title">
            <div class="orderinfo_con"><div class="orderinfo_conin" id="productname"></div></div>
            <div class="orderinfo_xqtitle">服务类型：</div>
        </div>
		<div class="orderinfo_xqitem input_title">
            <div class="orderinfo_con"><div class="orderinfo_conin" id="nameoffirm"></div></div>
            <div class="orderinfo_xqtitle">企业名称：</div>
        </div>
		<div class="orderinfo_xqitem input_title">
            <div class="orderinfo_con"><div class="orderinfo_conin" id="legalperson"></div></div>
            <div class="orderinfo_xqtitle">企业法人：</div>
        </div>
		
		
		
        <div class="orderinfo_xqitem input_title">
            <div class="orderinfo_con"><div class="orderinfo_conin" id="consumername"></div></div>
            <div class="orderinfo_xqtitle">预约客户：</div>
        </div>
        <div class="orderinfo_xqitem input_title">
            <div class="orderinfo_con"><div class="orderinfo_conin" id="customphone"></div></div>
            <div class="orderinfo_xqtitle">电话号码：</div>
        </div>		
		<div class="orderinfo_xqitem input_title">
            <div class="orderinfo_con"><div class="orderinfo_conin" id="serviceareaname">------</div></div>
            <div class="orderinfo_xqtitle">办事区域：</div>
        </div>
		<div class="orderinfo_xqitem input_title">
            <div class="orderinfo_con"><div class="orderinfo_conin" id="fetchareaname">------</div></div>
            <div class="orderinfo_xqtitle">取件区域：</div>
        </div>
		
        <div class="orderinfo_xqitem input_title">
            <div class="orderinfo_con"><div class="orderinfo_conin" id="address">------</div></div>
            <div class="orderinfo_xqtitle">预约地址：</div>
        </div>
        <div class="orderinfo_xqitem input_title">
            <div class="orderinfo_con"><div class="orderinfo_conin" id="appointmenttime">--:--:--</div></div>
            <div class="orderinfo_xqtitle">预约时间：</div>
        </div>
        <div class="orderinfo_xqitem input_title">
            <div class="orderinfo_con"><div class="orderinfo_conin" id="ConsumerMsg">------</div></div>
            <div class="orderinfo_xqtitle">留言内容：</div>
        </div>
        <div class="clear"></div>
    </div> 

    <div class="fenge"></div>
    <div class="conntbottom_line"></div>
    <div class="baibg all_padd all_text input_title mianzxy success_box">
        如果您有任何问题，可与我们联系！
        <a href="tel:962562">
            <div>
                <img src="{$smarty.const.IMG_URL}tel.png" class="tel_ico">
                <span class="success_tel">962562</span>
            </div>
        </a>
    </div>
</div>
<div class="conntbottom_line"></div>
<div class="submit_button" id="submit"  style="display:none">付款</div>

<SCRIPT type="text/javascript">
	$("#submit").on("click",function(){
			alert("微信支付接口申请中");
		});
    $(function () {		
        //获取订单详情数据
        var orderid = "{$smarty.get.orderid}";
        $.ajax({
            type: "POST",
            url: "../../../myinfo/orderinfoaction",
            data: {
                "orderid": orderid
            },
            success: function (msg) {
                var data = JSON.parse(msg);
                //根据订单状态显示列表样式
                var viewstatus;
                var orderstatus = data.orderstatus;
                if (orderstatus == 4000) {
                                viewstatus = "生成中";
                            }
                            if (data.department == '') {
                                data.department = '代办业务';
                            }
                            if (orderstatus == 4001) {
                                viewstatus = "平台分配";
                            }
                            if (orderstatus == 4002) {
                                viewstatus = "商家分配";
                            }
                            if (orderstatus == 4003) {
                                viewstatus = "订单确认";
                            }
                            if (orderstatus == 4004) {
                                viewstatus = "待付款";
                            }
                            if (orderstatus == 4005) {
                                viewstatus = "处理中(正常)";
							} else if (orderstatus == 4006) {
								viewstatus = "处理中(异常)";
                            }
                            if (orderstatus == 4007) {
                                viewstatus = "订单取消";
                            }
                            if (orderstatus == 4008 || orderstatus == 4009) {
                                viewstatus = "已完成";
                            }
                            if (orderstatus == 4010 || orderstatus == 4012) {
                                viewstatus = "订单不受理";
                            }
                            if (orderstatus == 4011 || orderstatus == 4013) {
                                viewstatus = "审核未通过";
                            }
                            if (orderstatus == 4014) {
                                viewstatus = "订单关闭";
                            }
                            if (orderstatus == 4015 || orderstatus == 4019) {
                                viewstatus = "退款审核中";
                            }
                            if (orderstatus == 4016) {
                                viewstatus = "已退款";
                            }
                            if (orderstatus == 4017) {
                                viewstatus = "退款审核通过";
                            }
                            if (orderstatus == 4018) {
                                viewstatus = "退款审核失败";
                            }
                            if (orderstatus == 4020) {
                                viewstatus = "其他人接单";
                            }
                            if (orderstatus == 4021) {
                                viewstatus = "退款中";
                            }
                            if (orderstatus == 4022 || orderstatus == 4023) {
                                viewstatus = "申诉中";
                            }
                            if (orderstatus == 4024) {
                                viewstatus = "退款平台驳回";
                            }
                            if (orderstatus == 4025) {
                                viewstatus = "无法受理";
                            }
                            if (orderstatus == 4026) {
                                viewstatus = "考虑中";
                            }
						//显示付款按钮
						if (orderstatus == 4004) {
                            $("#submit").css("display","block");
                        }
                $("#orderstatus").html(viewstatus);
                $("#ordernumber").html(data.ordernumber);
                $("#operatetime").html(data.operatetime);//下单时间
                if (data.PayStatus !== 1 || data.PayStatus !== 2) {
                    if (data.paytype == 6001) {
                        $("#paytype").html("现金");
                    }
                    if (data.paytype == 6002) {
                        $("#paytype").html("银联");
                    }
                    if (data.paytype == 6003) {
                        $("#paytype").html("支付宝");
                    }
                    if (data.paytype == 6004) {
                        $("#paytype").html("微信钱包");
                    }
                }
                if (data.paytime !== "") {
                    $("#paytime").html(data.paytime);
                }
                if (data.transactionid != null) {
                    $("#transactionid").html(data.transactionid);
                }
                if (data.appointmenttime !== "") {
                    $("#appointmenttime").html(data.appointmenttime);
                }
				if (data.priceexplain !== "") {
                    $("#priceexplain").html(data.priceexplain);
                }
                if (data.address !== "") {
                    $("#address").html(data.address);
                }
                if (data.ConsumerMsg !== "") {
                    $("#ConsumerMsg").html(data.consumermsg);
                }
				if (data.documentexplain !== "") {
                    $("#documentexplain").html(data.documentexplain);
                }				
				//企业名称
				if (data.nameoffirm !== "") {
                    $("#nameoffirm").html(data.nameoffirm);
                }
				//法人
				if (data.legalperson !== "") {
                    $("#legalperson").html(data.legalperson);
                }
				//显示退款信息
				if (data.orderstatus == 4015 || data.orderstatus == 4016 || data.orderstatus == 4017 || data.orderstatus == 4018 || data.orderstatus == 4019 || data.orderstatus == 4021 || data.orderstatus == 4024){
					$(".yinc").css("display","block");					
					if (data.refundremarks !== "") {
						$("#refundremarks").html(data.refundremarks);
					}
					if (data.refundtime !== "") {
						$("#refundtime").html(data.refundtime);
					}
					if (data.refundmoney !== "") {
						$("#refundmoney").html(data.refundmoney);
					}
				}				
				$("#fetchareaname").html(data.fetchareaname);
				$("#serviceareaname").html(data.serviceareaname);
                $("#amountmoney").html(data.amountmoney);
                $("#productname").html(data.productname);
                $("#consumername").html(data.consumername);
                $("#customphone").html(data.phonenumber);
			
				
            }
        });

    });

</SCRIPT>

{/block}
