
<SCRIPT type="text/javascript">
    $(function(){
        //点击右上角的头像图标
        $(".headimg").on("click",function(){
            //alert("请跳转到个人中心");
            location.href = "../myinfo/index";
        });        
    });
	/*
	//返回首页(tuodong)
	mobile_move();
	function mobile_move(){
		 // 获取节点
		var block = document.getElementById("return_index");
		var oW, oH;
		// 绑定touchstart事件
		block.addEventListener("touchstart", function (e) {
			console.log(e);
			var touches = e.touches[0];
			oW = touches.clientX - block.offsetLeft;
			oH = touches.clientY - block.offsetTop;			
			//alert(block.offsetTop);
			//alert(touches.clientY);
			//阻止页面的滑动默认事件
			document.addEventListener("touchmove", defaultEvent, false);
		}, false)

		block.addEventListener("touchmove", function (e) {
			var touches = e.touches[0];
			var oLeft = touches.clientX - oW;
			var oTop = touches.clientY - oH;
			var oBottom = touches.clientY + oH;			
			if (oLeft < 0) {
				oLeft = 0;
			} else if (oTop<0){
				oTop = 0;
			//612为窗口高度
			} else if (oTop>612){
				oTop = 612+"px";
			}else if (oLeft > document.documentElement.clientWidth - block.offsetWidth) {
				oLeft = (document.documentElement.clientWidth - block.offsetWidth);
			}
			block.style.left = oLeft + "px";
			block.style.top = oTop + "px";
		}, false);
		block.addEventListener("touchend", function () {
			document.removeEventListener("touchmove", defaultEvent, false);
		}, false);
		function defaultEvent(e) {
			e.preventDefault();
		}				
	}
	*/
	//点击返回首页 
	$("#return_index").on("click",function(){		
		location.href = "../index/index";
	});
</SCRIPT>