{extends "../Common/Index_head.html"}
{block name="main"}

<div class="contt">
    <div class="navstyle">
        <a href="javascript:history.go(-1);" class="navjiantou"><img src="{$smarty.const.IMG_URL}return.png"></a>首页
        <img src="{$smarty.const.IMG_URL}headimg.png" class="headimg">
    </div>
    <img src="{$smarty.const.IMG_URL}index_topimg.jpg" class="index_topimg">
    <div class="index_positona">
        <div class="index_box1">
            <img src="{$smarty.const.IMG_URL}person.png" class="index_personico left" id="person">
            <img src="{$smarty.const.IMG_URL}help.png" class="index_helpico right" id="help">
            <div class="clear"></div>
        </div>         
        <div class="index_box2">             
            <div><img src="{$smarty.const.IMG_URL}position.png" class="index_positionico left"> </div>
            <div class="index_positionname left" id="area">选择区域</div>
            <div class="clear"></div> 
        </div>
        <div class="index_blackbg index_box3" id="dialog">请用一句话描述您的问题…</div>
    </div>    
    <div id="gerensx" class="index_icobox"><img src="{$smarty.const.IMG_URL}index_ico1.png" class="index_icoimg"><div class="index_icobox_text">个人事项</div></div>
    <div id="qiyeyw" class="index_icobox"><img src="{$smarty.const.IMG_URL}index_ico2.png" class="index_icoimg"><div class="index_icobox_text">企业业务</div></div>
    <div id="shixiangcx" class="index_icobox index_icobox_right"><img src="{$smarty.const.IMG_URL}index_ico3.png" class="index_icoimg"><div class="index_icobox_text">事项查询</div></div>
    <div id="rengongzx" class="index_icobox"><img src="{$smarty.const.IMG_URL}index_ico4.png" class="index_icoimg"><div class="index_icobox_text">人工咨询</div></div>
    <div id="zizhuzx" class="index_icobox"><img src="{$smarty.const.IMG_URL}index_ico5.png" class="index_icoimg"><div class="index_icobox_text">自助咨询</div></div>
    <div id="yuyue" class="index_icobox index_icobox_right"><img src="{$smarty.const.IMG_URL}index_ico6.png" class="index_icoimg"><div class="index_icobox_text">预约</div></div>
    <div class="index_icobox"><a href="tel:962562"><img src="{$smarty.const.IMG_URL}index_ico7.png" class="index_icoimg"><div class="index_icobox_text">咨询热线</div></a></div>
    <div id="gongnengjx" class="index_icobox"><img src="{$smarty.const.IMG_URL}index_ico8.png" class="index_icoimg"><div class="index_icobox_text">功能介绍</div></div>
    <div id="wodelz" class="index_icobox index_icobox_right"><img src="{$smarty.const.IMG_URL}index_ico9.png" class="index_icoimg"><div class="index_icobox_text">我的乐政</div></div>
    <div id="qiyeyw" class="clear"></div>
</div> 
<div><img src="{$smarty.const.IMG_URL}index_botomtext.png" class="index_botomtext"></div>

<SCRIPT type="text/javascript">
		$(function () {
		
        var area = "{$smarty.session.area}"; 
//alert(area);		
        if (area != null) {
            $("#area").html(area);
        }
		if (area == '') {
            $("#area").html("请选择");
        }
			
		
		$("#dialog").on("click", function () {
            location.href = "../index/dialog";
        });
        $("#person").on("click", function () {
            location.href = "../myinfo/index";
        });
        $("#help,#gongnengjx").on("click", function () {
            location.href = "../workIntroduced/index";
        });
        $("#area").on("click", function () {
            location.href = "../need/AreaSelect";
        });
        $("#gerensx").on("click", function () {
            location.href = "../need/Personal";
        });
        $("#qiyeyw").on("click", function () {
            location.href = "../need/business";
        });
        $("#shixiangcx").on("click", function () {
            location.href = "../epsquery/index";
        });		
        $("#rengongzx").on("click", function () {
            location.href = "../index/dialog";
        });        
        $("#zizhuzx").on("click", function () {
            location.href = "../index/zizhuzx";
        });
        $("#yuyue").on("click", function () {
            location.href = "../Appointment/index";
        });
        $("#wodelz").on("click", function () {
            location.href = "../myinfo/index";
        });
        var area = "{$smarty.session.area}";
        if (area == null){
            layer.open({
                    content: '请选择区域',                    
                    shadeClose: false,
                    btn: ['OK'],
                    yes:function(){
                        location.href = "../need/areaselect"; 
                    }
                });
                return false;
           
        }
    });
	
</SCRIPT>

{/block}
