<html>
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
        <meta name="keywords" content="乐政微官网" />
        <meta name="description" content="乐政微官网"/>
        <title>"乐政微官网"</title>
        <link type="text/css" rel="stylesheet" href="{$smarty.const.CSS_URL}style.css" />          
        <script type="text/javascript" src="{$smarty.const.JS_URL}jquery1.4.2.min.js"></script>
        <script type="text/javascript" src="{$smarty.const.JS_URL}banner.js"></script>        

        <script type="text/javascript" src="{$smarty.const.JS_URL}jquery-2.1.0.min.js"></script>
        <link rel="stylesheet" href="{$smarty.const.CSS_URL}layer.css" />
        <script type="text/javascript" src="{$smarty.const.JS_URL}fastclick.js"></script>
        <script type="text/javascript" src="{$smarty.const.JS_URL}layer.js"></script>
        <!--图片上传-->
        <script type='text/javascript' src='{$smarty.const.LIB_URL}js/upload_js/jquery-2.0.3.min.js'></script>
        <script type='text/javascript' src='{$smarty.const.LIB_URL}js/upload_js/LocalResizeIMG.js'></script>
        <script type='text/javascript' src='{$smarty.const.LIB_URL}js/upload_js/patch/mobileBUGFix.mini.js'></script>
        <!--时间选择-->
        <script type='text/javascript' src='{$smarty.const.LIB_URL}js/timechoose.js'></script>       
        <link rel="stylesheet" href="{$smarty.const.CSS_URL}timechoose.css" />
    </head>
    <body class="baibg"> 
        <div class="contt">		
            <div class="navstyle">
                <a href="javascript:history.go(-1);" class="navjiantou"><img src="{$smarty.const.IMG_URL}return.png"></a>自助咨询
                <img src="{$smarty.const.IMG_URL}headimg.png" class="headimg">
            </div>
            <div class="">
                <div class="zhizzx">
                    <div class="submitsuccess_text zhizzx_pos">
                        <div class="zhizzx_text">自助咨询</div>
                        点击“确定”将回到微信公众号对话界面，<br>						
                        您可以直接与我们的机器人进行对话。
                    </div>
                    <div class="submit_button zhizzx_button" onclick="WeixinJSBridge.call('closeWindow');">确定</div>
                </div> 
            </div>    
        </div>
        {include file="../Common/bottom.html"}  
    </body>
</html>