{extends "../Common/default.html"}
{block name="main"}
<script>
if(window.name != "bencalie"){
    location.reload();
    window.name = "bencalie";
}
else{
    window.name = "";
}
</script> 
<div class="contt">
    <div class="navstyle">
        <a href="javascript:history.go(-1);" class="navjiantou"><img src="{$smarty.const.IMG_URL}return.png"></a>登录
        <img src="{$smarty.const.IMG_URL}headimg.png" class="headimg">
    </div>

    <div class="submitsuccess submitsuccess_width">
        <img src="{$smarty.const.IMG_URL}qt-logo.png">        
    </div>

    <div class="all_padd">            
        <div class="input_padd bottom_line baibg loginitem">
            <input type="text" name="phone" value="" placeholder="用户名/手机号码" id="phone" maxlength="20" class="input_box all_tex input_bg"/>
            <img src="{$smarty.const.IMG_URL}user.png" class="loginico">
            <div class="phone" style="display: none"><img src="{$smarty.const.IMG_URL}del.png" class="delinput"></div>
        </div>        
        <div class="input_padd bottom_line baibg loginitem">
            <input type="password" name="pwd" value="" placeholder="请输入密码" id="pwd" maxlength="20" class="input_box all_tex"/>
            <img src="{$smarty.const.IMG_URL}mima.png" class="loginico">
            <div class="pwd" style="display: none"><img src="{$smarty.const.IMG_URL}del.png" class="delinput"></div>            
        </div>
    </div>   
    <div id="yanz"><div class="submit_buttonhui" onclick="">登录</div></div>
    <div class="wangjimm_box all_padd">
        <div class="left wangjmm" id="forgetpwd">忘记密码？</div>
        <div class="mianzxy_text right" id="regist">注册</div>
    </div>
</div>
{literal}
<SCRIPT type="text/javascript">
    $("#yanz").on("click", function () {
        var pwd = $.trim($("#pwd").val());
		var phone = $("#phone").val();
        if (pwd.match(/^(?![^a-zA-Z]+$)(?!\D+$).{6,16}$/ig)) {
        } else {
            layer.open({
                content: '请输入6-16位密码（字母+数字）',
                time: 2,
                shadeClose: true
            });
            return false;
        }		
		if (phone.match(/^((0\d{2,3}-\d{7,8})|(1[35784]\d{9}))$/ig)) {			
		} else {
			layer.open({
				content: '请输入正确的手机号',
				time: 2,
				shadeClose: true
			});
			return false;
		}
    });
</SCRIPT>
{/literal}
<SCRIPT type="text/javascript">
    //删除输入,隐藏删除图标   
    //预约人
    $(".phone").click(function () {
        $("#phone").val('');
        sessionStorage.removeItem('phone');
        $(".phone").css("display", "none");
    });
    $("#phone").focus(function () {
        var phone = $("#phone").val();
        if (phone != '') {
            $(".phone").css("display", "block");
        } else {
            $(".phone").css("display", "none");
        }
    });
    $("#phone").keyup(function () {
        var phone = $("#phone").val();
        sessionStorage.setItem('phone', phone);
        if (phone != '') {
            $(".phone").css("display", "block");
        } else {
            $(".phone").css("display", "none");
        }
    });
    //密码
    $(".pwd").click(function () {
        $("#pwd").val('');
        sessionStorage.removeItem('pwd');
        $(".pwd").css("display", "none");
    });
    $("#pwd").focus(function () {
        var pwd = $("#pwd").val();
        if (pwd != '') {
            $(".pwd").css("display", "block");
        } else {
            $(".pwd").css("display", "none");
        }
    });
    $("#pwd").keyup(function () {
        var pwd = $("#pwd").val();
        sessionStorage.setItem('pwd', pwd);
        if (pwd != '') {
            $(".pwd").css("display", "block");
        } else {
            $(".pwd").css("display", "none");
        }
    });
    //删除表单值
    $(".delinput").on("click", function () {
        $(".submit_button").attr("class", "").addClass("submit_buttonhui");
    });
    //输入后的按钮颜色    
    $("input,textarea").on("keyup", function () {
        var phone = $("#phone").val();
        var pwd = $("#pwd").val();
        if (phone !== '' && pwd !== '') {
            $(".submit_buttonhui").attr("class", "").addClass("submit_button");
        } else {
            $(".submit_button").attr("class", "").addClass("submit_buttonhui");
        }
    });

    $(function () {
	/*
        var areacode = sessionStorage.getItem('areacode');
        if (areacode) {
            location.href = "../index/index";
        }
	*/
		//默认填入账号密码
		var phone = "{$smarty.session.user.phonenumber}";
		var pwd = "{$smarty.session.user.pwd}";
		$("#phone").val(phone);
		$("#pwd").val(pwd);		
        $("#regist").on("click", function () {
            location.href = "../login/regist";
        });
        $("#forgetpwd").on("click", function () {
            location.href = "../login/checkphone";
        });
		
		//输入后的按钮颜色    
		var phone = $("#phone").val();
		var pwd = $("#pwd").val();
		if (phone !== '' && pwd !== '') {
			$(".submit_buttonhui").attr("class", "").addClass("submit_button");
		} else {
			$(".submit_button").attr("class", "").addClass("submit_buttonhui");
		}

    });
    //点击登录按钮
    $(document).on("click", ".submit_button", function () {
        var phone = $.trim($("#phone").val());
        var pwd = $.trim($("#pwd").val());
		/*
        if (phone.length < 6 || phone.length > 30 || phone.match(/[^A-Za-z0-9]/ig)) {
            layer.open({
                content: '用户名为6-30位英文或数字',
                time: 2,
                shadeClose: true
            });
            return false;
        }
		*/
		if (phone == '' || phone.length < 11) {
			layer.open({
				content: '请输入正确的手机号',
				time: 2,
				shadeClose: true
			});
			return false;
		}
		
        $.ajax({
            type: "POST",
            url: "../login/loginAction",
            data: {
                "phone": phone,
                "pwd": pwd
            },
            success: function (msg) {
			//alert(msg);
                var data = JSON.parse(msg);
                var uid = sessionStorage.setItem('uid', data.uid);
                if (data.result == 0) {
                    layer.open({
                        content: data.error.msg,
                        time: 2,
                        shadeClose: true
                    });
                    return false;
                } else {
                    //设置一个固定区域码
                    var loginaction = "{$smarty.const.ACTION_NAME}";
					var controllername = "{$smarty.const.CONTROLLER_NAME}";
                    sessionStorage.setItem('loginaction', loginaction);
					sessionStorage.setItem('controllername', controllername);					
                    location.href = "../need/AreaSelect";
                }
            }
        });
    });
</SCRIPT>

{/block}
