{extends "../Common/defaultRegist.html"}
{block name="main"}
<div class="contt">
    <div class="navstyle">
        <a href="javascript:history.go(-1);" class="navjiantou"><img src="{$smarty.const.IMG_URL}return.png"></a>事项查询
        <img src="{$smarty.const.IMG_URL}headimg.png" class="headimg">
    </div> 
    <div class="all_padd sear_box">     
        <input type="text" name="sear" value="" placeholder="请输入关键字…" id="sear" class="sear_input"/>
        <img src="{$smarty.const.IMG_URL}searimg.png" class="searimg">
        <div class="sear_button">搜索</div>
        <div class="sear" style="display: none"><img src="{$smarty.const.IMG_URL}del.png" class="delinput sear_del"></div>
    </div>
    <div class="bottom_line"></div>
    <div class="baibg">
        <div id="departmentinfo"></div>       
        <div class="clear"></div>
    </div> 
    <div class="bottom_line"></div>
	{if $smarty.session.returnindex.epsquery == 'true'}
		<div class="return_index" id="return_index"></div>
	{/if}
	{session("returnindex.epsquery",null)}
</div>
<SCRIPT type="text/javascript">
    $(function () {
        //点击搜索输入框后
        $("#sear").on("click", function () {
            location.href = "../epsquery/search";
        });
        //获取区域数据        
        var areacode = "{$smarty.session.areacode}"; 
        $.ajax({
            type: "POST",
            url: "../Epsquery/DepartmentAction",
            data: {
                "areacode": areacode
            },
            success: function (msg) {
				//alert(msg);
                var data = JSON.parse(msg);
                data.datalist = data.datalist.reverse();
				if (data.datalist.length==0) {
					$("#departmentinfo").html("<div class='myyuyue_null'>暂无事项数据…</div>");
				}
				var imgarr=new Array();
				$.each(data.datalist, function (i) {
					//保存部门图标和部门编码
					var picurls = [];//定义一个一维数组
					var code = data.datalist[i].code;
					var tubiao = data.datalist[i].picurl;					
					var ico = '"code":"'+code+'","tubiao":"'+tubiao+'"';
					imgarr.push(ico);
					var imgsrc = '{$smarty.const.DEFAULT_URL}api/v1/Files?filename=' + data.datalist[i].picurl;
					if(data.datalist[i].picurl == null || data.datalist[i].picurl == ''){
						imgsrc = "{$smarty.const.IMG_URL}toux.png";
					}
					//alert(imgsrc);
					$("#departmentinfo").prepend('<ul class="float-ul"><li onclick="" code="' + data.datalist[i].code + '" id="xian' + i + '"><div class="con"><img src="'+ imgsrc + '" class="department_item_img"><p class="department_item_text">' + data.datalist[i].title + '</p></div></li></ul>');
					var index = $(".department_item").length;								
					if (i != 0 && index % 4 == 0) {
						//alert($(".department_item").attr("id"));
						$("#xian" + (index - 3)).addClass("department_item_right");
					}
					//点击具体部门的时候
					$(document).on("click", "#xian"+i, function () {
						var code = $(this).attr("code");
						sessionStorage.setItem('bumencode', code);
						sessionStorage.setItem('imgsrc', imgsrc);
						location.href = "../Epsquery/ShixiangList";
					});					
				
				});				
				//把部门图标存入session
				$.ajax({
					type: "POST",
					url: "../Epsquery/ImgarrAction",
					data: {
						"imgarr": imgarr
					}
				});			
			
            }
        });
    });
</SCRIPT>
{/block}
