{extends "../Common/default.html"}
{block name="main"}
<div class="contt">
    <div class="navstyle">
        <a href="javascript:history.go(-1);" class="navjiantou"><img src="{$smarty.const.IMG_URL}return.png"></a>企业业务
        <img src="{$smarty.const.IMG_URL}headimg.png" class="headimg">
    </div>
    <div class="fenge"></div>
    <div class="baibg all_padd">
        <div class="input_padd bottom_line">
            <div class="left"><img src="{$smarty.const.IMG_URL}09.png"></div><div class="left jibenxx input_title">基本信息</div>
            <div class="clear"></div> 
        </div>
        <div class="input_padd bottom_line">
            <span class="input_title">企业名称：</span>&nbsp;<input type="text" name="qiymc" value="" placeholder="请输入企业名称" id="qiymc" maxlength="20"  class="input_box all_tex"/>
            <div class="qiymc" style="display: none"><img src="{$smarty.const.IMG_URL}del.png" class="delinput"></div>
        </div> 
        <div class="input_padd bottom_line">
            <span class="input_title">法人：</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="far" value="" placeholder="请输入企业法人" id="far" maxlength="20"   class="input_box all_tex"/>
            <div class="far" style="display: none"><img src="{$smarty.const.IMG_URL}del.png" class="delinput"></div>
        </div>
        <div class="input_padd bottom_line input_bg">
            <span class="input_title">需求人：</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="people" value="" placeholder="请输入预约人姓名（必填）" id="people" maxlength="20"   class="input_box all_tex input_bg"/>
            <div class="people" style="display: none"><img src="{$smarty.const.IMG_URL}del.png" class="delinput"></div>
        </div>        
        <div class="input_padd bottom_line">
            <span class="input_title">手机号码：</span>&nbsp;<input type="text" name="phone" value="" placeholder="请输入11位手机号（必填）" id="phone" maxlength="11" class="input_box all_tex"/>
            <div class="phone" style="display: none"><img src="{$smarty.const.IMG_URL}del.png" class="delinput"></div>
        </div>               
        <div class="input_padd bottom_line  input_bg">
            <span class="input_title">办事区域：</span>&nbsp;<input type="text" name="area" value="" placeholder="请选择（必填）" id="area" maxlength="11" class="input_box all_tex"/>           
            <div><img src="{$smarty.const.IMG_URL}jiantou.png" class="input_jiantou" id="banshi"></div>            
        </div>
        <div class="input_padd bottom_line  input_bg">
            <span class="input_title">取件区域：</span>&nbsp;<input type="text" name="qujianarea" value="" placeholder="请选择（必填）" id="qujianarea" maxlength="11" class="input_box all_tex"/>           
            <div><img src="{$smarty.const.IMG_URL}jiantou.png" class="input_jiantou" id="qujian"></div>            
        </div>        
        <div class="input_padd input_bg">
            <span class="input_title">详细地址：</span>&nbsp;<input type="text" name="address" value="" placeholder="请填写您的详细地址（必填）" id="address" maxlength="30"  class="input_box all_tex input_bg"/>
            <div class="address" style="display: none"><img src="{$smarty.const.IMG_URL}del.png" class="delinput"></div>
        </div>
    </div>
    <div class="fenge"></div>
    <div class="baibg all_padd">
        <div class="input_padd">
            <div class="left"><img src="{$smarty.const.IMG_URL}09.png"></div><div class="left jibenxx input_title">需求</div>
            <div class="clear"></div> 
        </div>
        <div class="input_padd textarea_padd">
            <textarea name="message" class="textarea_box input_box all_tex" id="message" placeholder="主公，请在这里书写需要的办事事宜。"></textarea>            
        </div>
    </div>
    <div class="conntbottom_line"></div>
    <div id="yanz" class="submit_buttonhui" onclick="">下一步</div>
	{if $smarty.session.returnindex.business == 'true'}
		<div class="return_index" id="return_index"></div>
	{/if}
	{session("returnindex.business",null)}
</div>
{literal}
<SCRIPT type="text/javascript">
    $("#yanz").on("click", function () {       
		var phone = $("#phone").val();
		/*
		移动：139   138   137   136   135   134   147   150   151   152   157   158    159   178  182   183   184   187   188  
		联通：130   131   132   155   156   185   186   145   176 
		电信：133   153   177   173   180   181   189
		虚拟运营商：170  171
		整理后：130~139  145,147 15[012356789] 178,176,177,173,170,171 180~189
		*/		
		if (phone.match( /^0?(13[0-9]|15[012356789]|17[013678]|18[0-9]|14[57])[0-9]{8}$/ig)) {		
		} else {
			layer.open({
				content: '请输入正确的手机号',
				time: 2,
				shadeClose: true
			});
			return false;
		}
    });
</SCRIPT>
{/literal}
<SCRIPT type="text/javascript">
    //删除输入,隐藏删除图标
    //企业名称
    $(".qiymc").click(function () {
        $("#qiymc").val('');
        sessionStorage.removeItem('qiymc');
        $(".qiymc").css("display", "none");
    });
    $("#qiymc").focus(function () {
        var qiymc = $("#qiymc").val();
        if (qiymc != '') {
            $(".qiymc").css("display", "block");
        } else {
            $(".qiymc").css("display", "none");
        }
    });
    $("#qiymc").keyup(function () {        
        if (qiymc != '') {
            $(".qiymc").css("display", "block");
        } else {
            $(".qiymc").css("display", "none");
        }
    });
    $("#qiymc").blur(function(){
	var qiymc = $("#qiymc").val();
        sessionStorage.setItem('qiymc', qiymc);	
    });
    //法人
    $(".far").click(function () {
        $("#far").val('');
        sessionStorage.removeItem('far');
        $(".far").css("display", "none");
    });
    $("#far").focus(function () {
        var far = $("#far").val();
        if (far != '') {
            $(".far").css("display", "block");
        } else {
            $(".far").css("display", "none");
        }
    });
    $("#far").keyup(function () {
        var far = $("#far").val();
        sessionStorage.setItem('far', far);
        if (far != '') {
            $(".far").css("display", "block");
        } else {
            $(".far").css("display", "none");
        }
    });
    $("#far").blur(function(){
	var far = $("#far").val();
        sessionStorage.setItem('far', far);	
    });
    //预约人
    $(".people").click(function () {
        $("#people").val('');
        sessionStorage.removeItem('people');
        $(".people").css("display", "none");
    });
    $("#people").focus(function () {
        var people = $("#people").val();
        if (people != '') {
            $(".people").css("display", "block");
        } else {
            $(".people").css("display", "none");
        }
    });
    $("#people").keyup(function () {        
        if (people != '') {
            $(".people").css("display", "block");
        } else {
            $(".people").css("display", "none");
        }
    });
    $("#people").blur(function(){
	var people = $("#people").val();
        sessionStorage.setItem('people', people);	
    });
    //电话
    $(".phone").click(function () {
        $("#phone").val('');
        sessionStorage.removeItem('phone');
        $(".phone").css("display", "none");
    });
    $("#phone").focus(function () {
        var phone = $("#phone").val();
        if (phone != '') {
            $(".phone").css("display", "block");
        } else {
            $(".phone").css("display", "none");
        }
    });
    $("#phone").keyup(function () {        
        if (phone != '') {
            $(".phone").css("display", "block");
        } else {
            $(".phone").css("display", "none");
        }
    });
    $("#phone").blur(function(){
	var phone = $("#phone").val();
        sessionStorage.setItem('phone', phone);	
    });
   
    //地址
    $(".address").click(function () {
        $("#address").val('');
        sessionStorage.removeItem('address');
        $(".address").css("display", "none");
    });
    $("#address").focus(function () {
        var address = $("#address").val();
        if (address != '') {
            $(".address").css("display", "block");
        } else {
            $(".address").css("display", "none");
        }
    });
    $("#address").keyup(function () {        
        if (address != '') {
            $(".address").css("display", "block");
        } else {
            $(".address").css("display", "none");
        }
    });    
    $("#address").blur(function(){
	var address = $("#address").val();
        sessionStorage.setItem('address', address);	
    });
    
    //需求      
    $("#message").blur(function(){
	var message = $("#message").val();
        sessionStorage.setItem('message', message);	
    });
 
    //删除表单值
    $(".people,.phone,.area,.address").on("click", function () {
        $(".submit_button").attr("class", "").addClass("submit_buttonhui");
    });
    //输入后的按钮颜色    
    $("input,textarea").on("keyup", function () {
        var people = $("#people").val();
        var phone = $("#phone").val();
        var area = $("#area").val();
        var qujianarea = $("#qujianarea").val();
        var address = $("#address").val(); 
        var message = $("#message").val(); 
        if (people !== '' && phone !== '' && area !== '' && qujianarea !== '' && address !== '' && message !== '') {
            $(".submit_buttonhui").attr("class", "").addClass("submit_button");
        } else {
            $(".submit_button").attr("class", "").addClass("submit_buttonhui");
        }
    });    
    
       //办事区域赋值
    $("#area,#banshi").on("click", function () {		
        location.href = "../Need/BanshiAreaSelect";
    });    
    //取件区域赋值
    $("#qujianarea,#qujian").on("click", function () {
        location.href = "../Need/QujianAreaSelect";
    });

    $(function () { 
        var qiymc = $.trim(sessionStorage.getItem('qiymc'));
        var far = $.trim(sessionStorage.getItem('far'));
        var people = sessionStorage.getItem('people');		
		var phone = "{$smarty.session.user.phonenumber}";
		var phone1 = sessionStorage.getItem('phone'); 		
		if(phone1){
			sessionStorage.setItem('phone',phone1);			
			$("#phone").val(phone1);			
		}else{
			sessionStorage.setItem('phone',phone);
			$("#phone").val(phone);
		}
        var address = sessionStorage.getItem('address');
        if(address == null){
			address = "{$smarty.session.user.address}";	
		}
        var area = sessionStorage.getItem('banshiarea');
		if(area == null){
			var area = "{$smarty.session.area}";	
		}
        var qujianarea = sessionStorage.getItem('qujianarea');
		if(qujianarea == null){
			qujianarea = "{$smarty.session.user.areaname}";
		}
        var message = sessionStorage.getItem('message');
		$("#qiymc").val(qiymc);  
		$("#far").val(far);  
        $("#people").val(people);        
        $("#address").val(address);
        $("#message").val(message);
        $("#area").val(area);
        $("#qujianarea").val(qujianarea);
        //默认加载session数据后的按钮颜色
		var qiymc = $("#qiymc").val();
		var far = $("#far").val();
        var people = $("#people").val();
        var phone = $("#phone").val();
        var area = sessionStorage.getItem('banshiarea');
		if(area == null){
			var area = "{$smarty.session.area}";	
		}
        var qujianarea = $("#qujianarea").val();
        var address = $("#address").val();        
		var message = $("#message").val();        
        if (people !== '' && phone !== '' && area !== '' && qujianarea !== '' && address !== '' && message !== '' && qiymc !== '' && far !== '') {
            $(".submit_buttonhui").attr("class", "").addClass("submit_button");
        } else {
            $(".submit_button").attr("class", "").addClass("submit_buttonhui");
        }
        $(document).on("click", ".submit_button", function () {           
            var qiymc = $.trim(sessionStorage.getItem('qiymc'));
            var far = $.trim(sessionStorage.getItem('far'));
            var people = $.trim(sessionStorage.getItem('people'));
            var phone = $.trim(sessionStorage.getItem('phone'));
            var address = sessionStorage.getItem('address');
			if(address == null){
				address = "{$smarty.session.user.address}";	
			}
            var message = $.trim(sessionStorage.getItem('message'));
            var area = sessionStorage.getItem('banshiarea');
			if(area == null){
				var area = "{$smarty.session.area}";	
			}		
            var qujianarea = sessionStorage.getItem('qujianarea');
			if(qujianarea == null){
				qujianarea = "{$smarty.session.user.areaname}";
			}		
            var message = sessionStorage.getItem('message');
            if (qiymc == '') {                
                layer.open({
                    content: '必须填写企业名称',
                    time: 2,
                    shadeClose: true
                });
                return false;
            }
            if (far == '') {                
                layer.open({
                    content: '必须填写法人',
                    time: 2,
                    shadeClose: true
                });
                return false;
            }
            if (people == '') {                
                layer.open({
                    content: '必须填写需求人',
                    time: 2,
                    shadeClose: true
                });
                return false;
            }           
            if (phone == '' || phone.length < 11 || isNaN(phone)) {                
                layer.open({
                    content: '请输入正确的手机号',
                    time: 2,
                    shadeClose: true
                });
                return false;
            }
            if (area == '') {
                layer.open({
                    content: '必须选择办事区域',
                    time: 2,
                    shadeClose: true
                });
                return false;
            }
            if (qujianarea == '') {
                layer.open({
                    content: '必须选择取件区域',
                    time: 2,
                    shadeClose: true
                });
                return false;
            }
            if (address == '') {
                layer.open({
                    content: '必须填写地址',
                    time: 2,
                    shadeClose: true
                });
                return false;
            } 
            if (message == '') {                
                layer.open({
                    content: '必须填写需求信息',
                    time: 2,
                    shadeClose: true
                });
                return false;
            }			            
            location.href = "../need/sureBusiness";
        });
    });	
</SCRIPT>

{/block}
