{extends "../Common/default.html"}
{block name="main"}

<div class="contt">
    <div class="navstyle">
        <a href="javascript:history.go(-1);" class="navjiantou"><img src="{$smarty.const.IMG_URL}return.png"></a>个人事项
        <img src="{$smarty.const.IMG_URL}headimg.png" class="headimg">
    </div>
    <div class="fenge"></div>
    <div class="baibg all_padd">
        <div class="input_padd bottom_line">
            <div class="left"><img src="{$smarty.const.IMG_URL}09.png"></div><div class="left jibenxx input_title">基本信息</div>
            <div class="clear"></div> 
        </div>
        <div class="jianj"></div>			
        <div class="clear"></div>
		<div class="input_padd input_paddmin">
            <span class="input_title">需&nbsp;&nbsp;求&nbsp;&nbsp;人：</span>&nbsp;<span class="input_box all_tex input_title" id="people"></span>               
        </div> 
        <div class="input_padd input_paddmin">
            <span class="input_title">手机号码：</span>&nbsp;<span class="input_box all_tex input_title" id="phone"></span>               
        </div>        
        <div class="input_padd input_paddmin">
            <span class="input_title">办事区域：</span>&nbsp;<span class="input_box all_tex input_title" id="area"></span>               
        </div>
        <div class="input_padd input_paddmin">
            <span class="input_title">取件区域：</span>&nbsp;<span class="input_box all_tex input_title" id="qujianarea"></span>               
        </div>
		<div class="input_padd input_paddmin">
            <span class="input_title">详细地址：</span>&nbsp;<span class="input_box all_tex input_title" id="address"></span>               
        </div>
		<div class="input_padd input_paddmin">
            <span class="input_title">需&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;求：</span>&nbsp;<span class="input_box all_tex input_title" id="message"></span>               
        </div>        
        <div class="jianj"></div>
    </div>
    <div class="conntbottom_line"></div>
    <div class="submit_button" id="submit">提交</div>
</div>

<SCRIPT type="text/javascript">
    $(function () {
        var people = sessionStorage.getItem('people');
        var phone = sessionStorage.getItem('phone');
		var address = sessionStorage.getItem('address');
        if(address == null){
			address = "{$smarty.session.user.address}";	
		}		
        var message = sessionStorage.getItem('message');        
		//办事区域		
        var area = sessionStorage.getItem('banshiarea');
		if(area == null){			
			area = "{$smarty.session.area}";
		}
		//取件区域		
        var qujianarea = sessionStorage.getItem('qujianarea');
		if(qujianarea == null){			
			qujianarea = "{$smarty.session.user.areaname}";
		}
        var actionname = "{$smarty.const.ACTION_NAME}";
        $("#people").html(people);
        $("#phone").html(phone);
        $("#address").html(address);
        $("#message").html(message);
        $("#area").html(area); 
		$("#qujianarea").html(qujianarea);
        //点击提交按钮时
        $("#submit").on("click", function () {
            var qujianareacode = sessionStorage.getItem('qujianareacode');
			if(qujianareacode==null){
				qujianareacode = "{$smarty.session.user.area}";
			}
			var banshiareacode = sessionStorage.getItem('banshiareacode');
			if(banshiareacode==null){
				banshiareacode = "{$smarty.session.areacode}";
			}
			$.ajax({
				type: "POST",
				url: "../need/ShixiangAction",
				data: {
					"actionname": actionname,
					"people": people,
					"phone": phone,
					"address": address,
					"areacode": banshiareacode,
					"message": message,
					"qujianarea": qujianareacode
				},
				success: function (msg) { 
					//alert(msg);					
					var data = JSON.parse(msg);
					if (data.result == 1) {
						//推送订单通知		
						$.ajax({
							type: "GET",
							url: "../need/dingdantongzhi"				
						});
						location.href = "../need/submitsuccess";
					}
				}
            });				
        });
    });
</SCRIPT>
{/block}
